    <table class="table table-hover">
        <tr>
            <td>医生姓名</td>
            <td>前面已预约人数</td>
            <td>分配</td>
        </tr>
    {% for of in off %}
{#        {% for ha in havenuser %}#}
            <tr>
                <td>{{of.nicheng}}</td>
                <td>{{of.sicker}}</td>
                <td><a type="button" onclick="apply({{of.id}},{{ offid }},'{{of.nicheng}}')">分配</a></td>
            </tr>
{#        {% endfor %}#}
    {% endfor %}



    </table>

<script>
    function apply(e,f,c) {

        if (confirm("确认分配此医生？"))
       {
        location.href='/system/task/?uid='+e+'&offid='+f+'&doname='+c;
       }

    }
</script>